.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: start;
  gap: 6px;
  padding: 0 23px;
}

.rowClip {
  overflow: hidden;
}

.rowClip .row {
  padding-top: 6px;
}
